* {
    -fx-accent: #0CC9AB;
    -fx-primary-color: #0B192E;
    -fx-secondary-color: #182B45;
    -fx-text-color: #CDD7F5;
}

#root {
    -fx-background-color: -fx-primary-color;
}

.label {
    -fx-text-fill: -fx-accent;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 5px;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

.primary {
    -fx-background-color: -fx-accent;
    -fx-text-fill: black;
}

Circle {
    -fx-stroke-width: 3px;
    -fx-stroke: -fx-accent;
    -fx-fill: -fx-primary-color;
}

Circle:OnMoment {
    -fx-fill: -fx-accent;
}